<h1>Welcome</h1>

<h2>You've made it to the amazing "Rock, Paper, Scissors Game!"</h2>
<h3>It's so easy to play</h3>

<li>Players can choose from rock, paper, or scissors</li>
<li>On the count of three, each player reveals their choice at the same time</li>
<li>Players use their hands in the shape of their choice</li>
<li>Player can either win or draw</li>
<li>A draw is when both players reveal the same choice</li>
<li>To win:</li>
<ol>
  1. Rock smashes Scissors
</ol>
<ol>
  2. Paper covers Rock
</ol>
<ol>
  3. Scissors cut Paper
</ol>
<h3>Good luck!</h3>
